.header {
  font-family: $font-navigation !important;
  font-weight: 300; // normal ; // or from 100 to 900
  font-size: large;
  &--overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}
