.navbar-mattress {
  background-color: $primary-color !important;
  background-image: url(../images/translucent-fibres.png) !important;
  //color: lighten($secondary-color, 20%) !important ;
}

.navbar-transparent {
  background-color: transparent !important;
}
/*
.navbar-light {
  .navbar-toggler-icon {
    //does not work to change the svg color
     // background-image: url(../images/om.svg) !important;
    //  background-size: contain !important;
    // remove Bootstrap default icone
    //background-image:none;

    // use inline SVG to set it's color
    // background-image: svg-url($om-svg) !important;
    //background-size: contain !important;

    // set a mask with color
    //mask-image : url(../images/om.svg)!important;
    //mask-size: cover;
    //-webkit-mask-image : url(../images/om.svg);

    //background-color: white !important;

    // cascade the color to the svg element

    // fill: lighten($secondary-color, 20%) !important ;
  }
}
*/

.navbar-toggler {
  //color: white !important;
  border-color: $secondary-color !important;
  .navbar-toggler-icon {
    //stroke: white !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='#{hsl-str($secondary-color)}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
}

.navbar-brand {
  color: $secondary-color !important;
}

/* 1st level nav items in navbar */
nav .navbar-nav li a {
  color: $secondary-color !important; //darken($secondary-color, 10%) !important ;

  &:hover {
    color: $secondary-color;
    font-weight: bold;
  }
}

/* 2nd level nav items in dropdown of navbar */
nav .navbar-nav li .dropdown-menu a {
  color: $tertiary-color !important ;
  margin-left: 1rem;

  &:hover {
    color: darken($tertiary-color, 20%);
  }
}

.artiyoga-icon {
  //height: 50px !important;
  width: 100;
}
